:root {
  --cui-bg-opacity: 0;
}

.sidebar {
  background-color: #64b5f6;
}

.sidebar-nav .nav-link.active {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #64b5f6;
  background: white;
}

.sidebar-nav .nav-link.active .nav-icon {
  color: #64b5f6;
}

.bg-light {
  background-color: white;
}

.sidebar-brand {
  background-color: #64b5f6;
}

.header {
  /* background-color: #003c8f; */
}
